.input-type {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    color: #641a5d;
    font-size: 1.7rem;
    text-align: center;
    margin: 2%;
}

.input-type-description {
    font-family: "Moderustic", serif;
    font-weight: 500;
    font-style: normal;
    color: #0b2545;
    font-size: 1.2rem;
    text-align: justify;
    margin: 0 auto;
}

.code-example {
    background-color: #3f3f3f;
    color: rgb(227, 227, 227);
    padding: 3%;
    border-radius: 5px;
}